body {
    padding:0px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #777;
    line-height: 220%;
    margin:0px;
    background-image: url("./../../flower2.jpg");
    width: 100%;
    
  }
  nav{
    opacity: 0.7;
    background-color: blue;
  }
  
    
    li a{
      text-decoration:none;
      color: gray;
    }
  
  header {
    background:blue;
  }
  
  h3{
    color: black;
    border: none;
    backface-visibility: #ffffff;
    font-size:10px;
    font-family: 'merriweather', serif;
  }
  .section-b{
    padding-left: 20px;
    padding: 20px;
    margin: 30px auto;
    margin-bottom: 0px;
    font-size: 16px;
    color: #777777;
    text-align: center,justify;
    background-color: antiquewhite;
    line-break:10px;
    width:450px;
    height:1000px;
  }
  footer{
    width:100% auto;
    box-flex: flex;
    border-top:10px solid;
    text-align: center;
    color:black; }

    .container {
      position: relative;
      text-align: center;
      color: white;
      width:45%;
      float: left;
    }
    
    .centered {
      background:#4aaaa5;
      position: absolute;
      top: 77%;
      left: 50%;
      transform: translate(-50%, -50%);
      width:200px;
      padding:10px 1px;
      color:#ffffff;
    }
   .portfolio_pics{
     height:200px;
     width:250px;
   }
   #Portfolio{
     position: absolute;
     width:960px;
     height:960px;
     top: 100px;
     left: 230px;
     border: 1px solid #cccccc;
     background-color: #ffffff;
     overflow:auto;
     clear:both;
   }
/*768px*/

@media (max-width: 768px) {

  .navbar, .white-waves {
    width:100%;
  }

}


/*640px*/

@media (max-width: 640px) {

  .parra {
     width: 64%;
     margin-left: 19%
  }

  .footer {
      width: 43%;
      margin-top: 52%;
      margin-left: 29%;
  }
}

.section-c{
  background-color: antiquewhite;
  width: 900px;
}

 .flex-container{
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
 }
#profile{
  width:500px;
  height: 200px;
  opacity: 0.6;
}
#profile-pic{
 align-items: center;
 width: 300px;
 height: 400px;
 border-radius: 1em;
}
#myBtn{
  padding: 0 0 0 0;
  border: 6px solid pink;
  border-radius: 1em;
  object-position: center;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: antiquewhite;
  opacity: 0.7;
  padding: 10px;
  width: 100%; /* Could be more or less, depending on screen size */
  margin-left: 10px;
  margin-right: 10px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}