body {
    padding:0px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #777;
    background:#dddddd;
    line-height: 220%;
    
  }

  li {
      float: right;
      list-style-type: none;
      border-right: 1px solid #bbb;
      color:#666;
      display: block;
      padding: 5px;
      text-align: center;
      }
  
    ul {
      position: fixed;
      top: 0;
      width: 90%;
     
    }
  
  header {
    background: #ffffff;
  }
  
  h1{
    padding: 20px;
    padding-left: 20px;
    margin: 0px;
    margin-bottom: 20px;
    font-size: 28px;
    color: white;
    text-align: left;
    background: #4aaaa5;
    width:300px;
    height: 30px;
  }
  h2{
    color:#4aaaa5;
    border-bottom-color: gray;
    backface-visibility: #ffffff;
    font-size:24px;
    text-align: top;
  }
  section{
    padding-left: 20px;
    padding: 20px;
    margin: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    color: #777777;
    text-align: center,justify;
    background: #ffffff;
    line-break:10px;
    width:1300px;
    height:960px;
  }